@model MinhaBiblioteca.Domain.Entities.Editora

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Editora</title>
</head>
<body>
<div>
    @Model.Id<br/>
    @Model.Nome
</div>
</body>
</html>